<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>ComeChop</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/colors/customized_blue.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


<!-- Header
================================================== -->
<header id="header">

<!-- Container -->
<div class="container">

	<!-- Logo / Mobile Menu -->
	<div class="three columns">
		<div id="logo">
			<h1><a href="/pages/index.html">ComeChop</a></h1>
		</div>
	</div>


<!-- Navigation
================================================== -->
<div class="thirteen columns navigation">

	<nav id="navigation" class="menu nav-collapse">
		<ul>
			<li><a href="/pages/index.html" id="current">Home</a></li>
			<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
			<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
		</ul>
	</nav>

</div>

</div>
<!-- Container / End -->
</header>


<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="/static/images/recipeBackground.jpg" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>{{recipe.name}}</h2>
			</div>
		</section>
		

		<!-- Slider -->
		<div class="recipeSlider rsDefault">
		    <img itemprop="image" class="rsImg" src="/recipe/image/{{recipe._id}}" alt="recipe image" />
		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>Serves: <strong itemprop="recipeYield">{{recipe.portions}} people</strong></li>
				<li>Prep Time: <strong itemprop="prepTime">{{recipe.prep_time}} minutes</strong></li>
				<li>Cooking: <strong itemprop="cookTime">{{recipe.cook_time}} hours</strong></li>
				<li>Calories: <strong itemprop="calories">{{recipe.calories}} cal</strong></li>
			</ul>
			<div class="clearfix"></div>
		</section>


		<!-- Text -->
		<!-- Description obtained from https://cheflolaskitchen.com/jollof-rice/ -->
		<p itemprop="description">{{recipe.short_description}}</p>


		<!-- Ingredients -->
		<h3>Ingredients</h3>
		<!-- Ingredients obtained from http://www.nigerianlazychef.com/2016/12/atadindin-fried-rice-jollof-fried-ricelazychef-christmas/ -->
		<ul class="ingredients">
			{% for ingredient in recipe.ingredients %}
			<li>
				<input id="check-{{loop.index}}" type="checkbox" name="check" value="check-{{loop.index}}">
				<label itemprop="ingredients" for="check-{{loop.index}}">{{ingredient}}</label>
			</li>
			{% endfor %}
		</ul>


		<!-- Directions -->
		<!-- Directions obtained from http://www.nigerianlazychef.com/2016/12/atadindin-fried-rice-jollof-fried-ricelazychef-christmas/ -->
		<h3>Directions</h3>
		<ol class="directions" itemprop="recipeInstructions">
			{% for instruction in recipe.instructions %}
			<li>{{instruction}}</li>
			{% endfor %}
		</ol>

		<div class="clearfix"></div>

		<div class="margin-bottom-40"></div>

		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="margin-top-15"></div>
			<div class="clearfix"></div>
			<br>

	</div>
	</div>


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">

		<div class="five columns">
			<!-- Headline -->
			<h3 class="headline footer">About</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Cras at ultrices erat, sed vulputate eros. Nunc at augue gravida est fermentum vulputate. Pellentesque et ipsum in dui malesuada tempus.</p>
		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Archives</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="#">June 2014</a></li>
				<li><a href="#">July 2014</a></li>
				<li><a href="#">August 2014</a></li>
				<li><a href="#">September 2014</a></li>
				<li><a href="#">November 2014</a></li>
			</ul>

		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Recipes</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
				<li><a href="/pages/recipe-page-1.html">Recipe Page</a></li>
				<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
			</ul>

		</div>

		<div class="five columns">

			<!-- Headline -->
			<h3 class="headline footer">Newsletter</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Sign up to receive email updates on new product announcements, gift ideas, sales and more.</p>

			<form action="#" method="get">
				<input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
				<button class="newsletter-btn" type="submit">Subscribe</button>

			</form>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2014 by <a href="#">ComeChop</a>. All Rights Reserved.</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="/static/scripts/jquery-1.11.0.min.js"></script>
<script src="/static/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/scripts/jquery.superfish.js"></script>
<script src="/static/scripts/jquery.royalslider.min.js"></script>
<script src="/static/scripts/responsive-nav.js"></script>
<script src="/static/scripts/hoverIntent.js"></script>
<script src="/static/scripts/isotope.pkgd.min.js"></script>
<script src="/static/scripts/chosen.jquery.min.js"></script>
<script src="/static/scripts/jquery.tooltips.min.js"></script>
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/jquery.pricefilter.js"></script>
<script src="/static/scripts/custom.js"></script>

</body>
</html>