<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>ComeChop</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/colors/customized_blue.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


<!-- Header
================================================== -->
<header id="header">

<!-- Container -->
<div class="container">

	<!-- Logo / Mobile Menu -->
	<div class="three columns">
		<div id="logo">
			<h1><a href="/pages/index.html">ComeChop</a></h1>
		</div>
	</div>


<!-- Navigation
================================================== -->
<div class="thirteen columns navigation">

	<nav id="navigation" class="menu nav-collapse">
		<ul>
			<li><a href="/pages/index.html" id="current">Home</a></li>
			<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
			<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
		</ul>
	</nav>

</div>

</div>
<!-- Container / End -->
</header>


<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="/static/images/recipeBackground-02.jpg" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>Nigerian Egusi Soup</h2>
			</div>
		</section>
		

		<!-- Slider -->
		<div class="recipeSlider rsDefault">
		    <img itemprop="image" class="rsImg" src="/static/images/egusi_soup.jpg" alt="Egusi Soup" />
		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>Serves: <strong itemprop="recipeYield">6 people</strong></li>
				<li>Prep Time: <strong itemprop="prepTime">30 min</strong></li>
				<li>Calories: <strong itemprop="calories">302 kcal</strong></li>
			</ul>
			<div class="clearfix"></div>
		</section>


		<!-- Text -->
		<p itemprop="description">Egusi soup made the Nigerian way with red palm oil and different kinds of meats.
			Enjoy with pounded yam, garri or other kids of fufu.</p>


		<div class="recipe-container">  

			<div class="ingredients-container">

				<!-- Ingredients -->
				<h3>Ingredients</h3>
				<ul class="ingredients">
					<li>
						<input id="check-1" type="checkbox" name="check" value="check-1">
						<label itemprop="ingredients" for="check-1"> 2 cups egusi (not ground)</label>
					</li>

					<li>
						<input id="check-2" type="checkbox" name="check" value="check-2">
						<label itemprop="ingredients" for="check-2">3/4 cup palm oil </label>
					</li>

					<li>
						<input id="check-3" type="checkbox" name="check" value="check-3">
						<label itemprop="ingredients" for="check-3">1/4 cup crayfish</label>
					</li>

					<li>
						<input id="check-4" type="checkbox" name="check" value="check-4">
						<label itemprop="ingredients" for="check-4">1 shrimp seasoning cube also known as Maggi Crayfish
							or Maggi Crevette</label>
					</li>

					<li>
						<input id="check-5" type="checkbox" name="check" value="check-5">
						<label itemprop="ingredients" for="check-5">2 pounds meats and fish I used a variety of goat
							meat, stock fish and chicken </label>
					</li>

					<li>
						<input id="check-6" type="checkbox" name="check" value="check-6">
						<label itemprop="ingredients" for="check-6">1/2 cup onion - chopped </label>
					</li>	

					<li>
						<input id="check-7" type="checkbox" name="check" value="check-7">
						<label itemprop="ingredients" for="check-7">1 habanero (or scotch bonnet) pepper </label>
					</li>
					<li>
						<input id="check-8" type="checkbox" name="check" value="check-8">
						<label itemprop="ingredients" for="check-8">1/2 -1 cup chopped greens (you could use bitterleaf
							for an authentic taste or substitute with spinach or kale) I used chopped spinach</label>
					</li>
				</ul>

			</div> 

			<div class="directions-container">
				<!-- Directions -->
				<h3>Directions</h3>
				<ol class="directions" itemprop="recipeInstructions">
					<li><b>Boil the meats and fish.</b> Preferably do this the day before so that cooking is easier
						the next day. Start by boiling the tougher meats then add the less tough ones. Add salt halfway
						through	the cooking process (about a teaspoon of salt). Reserve the stock of the meat. Also, if
						using stockfish, be sure to soak it for some hours first and rinse thoroughly before cooking
						(cook it separately from the other meats/fish and discard of the stock). Stockfish has a very
						pungent smell so if you aren't used to it you might be shocked at how much it smells. But the
						taste is amazing in Egusi Soup!
					</li>
					<li><b>Grind the egusi.</b> Grind the egusi using the small cup of a blender, coffee grinder or
						whatever grinding machine you have on hand. Be sure to remove any bad seeds from the egusi
						before grinding.
					</li>
					<li>Place palm oil in a pot and heat up on high for about 3 minutes (do not bleach). Add the onions
						to the palm oil and saute until fragrant.
					</li>
					<li>Add the ground egusi to the palm oil and let it cook in it, while you stir from time to time
						until the egusi shrinks and starts sticking to the bottom of the pot. About 7 minutes.
					</li>
					<li>Add a teaspoon of crayfish and stir then add the cooked meats and their stock. Add the remaining
						crayfish, crayfish seasoning cube, habanero or scotch bonnet pepper then add water if needed
						according to desired thickness. Stir well and taste to ensure that seasoning is perfect. Let all
						the ingredients simmer together for about 5 minutes.
					</li>
					<li>Add the greens and let them cook in for about 2 minutes. Turn off the heat - your egusi soup is
						ready!
					</li>
				</ol>
			</div>

		</div>
		<div class="clearfix"></div>

		<div class="margin-bottom-40"></div>

		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="margin-top-15"></div>
			<div class="clearfix"></div>
			<br>

	</div>
	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">
	<!-- Author Box -->
	<div class="widget">
		<div class="author-box">
			<span class="title">Author</span>
			<span class="name">Precious <br> Nkeih</span>
			<span class="contact"><a href="mailto:precious_nkeih@comeshop.com">precious_nkeih@comeshop.com</a></span>
			<!-- Obtained Precious Nkeih author image from: https://www.preciouscore.com/egusi-soup/ -->
			<img src="/static/images/precious_nkeih.jpg" alt="Precious Nkeih Image">
			<!-- Obtained introductory message from: https://www.preciouscore.com/egusi-soup/ -->
			<p>I am a mama with many mouths to feed. I develop recipes and share real-life stories. Here you will find
				approachable, insanely delicious, family-friendly recipes.</p>
		</div>
	</div>

</div>


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">

		<div class="five columns">
			<!-- Headline -->
			<h3 class="headline footer">About</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Cras at ultrices erat, sed vulputate eros. Nunc at augue gravida est fermentum vulputate. Pellentesque et ipsum in dui malesuada tempus.</p>
		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Archives</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="#">June 2014</a></li>
				<li><a href="#">July 2014</a></li>
				<li><a href="#">August 2014</a></li>
				<li><a href="#">September 2014</a></li>
				<li><a href="#">November 2014</a></li>
			</ul>

		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Recipes</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
				<li><a href="/pages/recipe-page-1.html">Recipe Page</a></li>
				<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
			</ul>

		</div>

		<div class="five columns">

			<!-- Headline -->
			<h3 class="headline footer">Newsletter</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Sign up to receive email updates on new product announcements, gift ideas, sales and more.</p>

			<form action="#" method="get">
				<input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
				<button class="newsletter-btn" type="submit">Subscribe</button>

			</form>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2014 by <a href="#">ComeChop</a>. All Rights Reserved.</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="/static/scripts/jquery-1.11.0.min.js"></script>
<script src="/static/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/scripts/jquery.superfish.js"></script>
<script src="/static/scripts/jquery.royalslider.min.js"></script>
<script src="/static/scripts/responsive-nav.js"></script>
<script src="/static/scripts/hoverIntent.js"></script>
<script src="/static/scripts/isotope.pkgd.min.js"></script>
<script src="/static/scripts/chosen.jquery.min.js"></script>
<script src="/static/scripts/jquery.tooltips.min.js"></script>
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/jquery.pricefilter.js"></script>
<script src="/static/scripts/custom.js"></script>

</body>
</html>