<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>ComeChop</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/colors/customized_blue.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


<!-- Header
================================================== -->
<header id="header">

<!-- Container -->
<div class="container">

	<!-- Logo / Mobile Menu -->
	<div class="three columns">
		<div id="logo">
			<h1><a href="/pages/index.html">ComeChop</a></h1>
		</div>
	</div>


<!-- Navigation
================================================== -->
<div class="thirteen columns navigation">

	<nav id="navigation" class="menu nav-collapse">
		<ul>
			<li><a href="/pages/index.html">Home</a></li>

			<li><a href="#" id="current">Cooking Directions</a>
				<ul>
					<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
					<li><a href="/pages/recipe-page-1.html">Recipe Page #1</a></li>
					<li><a href="/pages/recipe-page-2.html">Recipe Page #2</a></li>
				</ul>
			</li>

			<li><a href="#">Pages</a>
				<ul>
					<li><a href="/pages/shortcodes.html">Shortcodes</a></li>
					<li><a href="/pages/typography.html">Typography</a></li>
					<li><a href="/pages/contact.html">Contact</a></li>
				</ul>
			</li>

			<li><a href="#">Outlet</a>
				<ul>
					<li><a href="/pages/shop.html">Outlet</a></li>
					<li><a href="/pages/product-page.html">Product Page</a></li>
				</ul>
			</li>

			<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
		</ul>
	</nav>

</div>

</div>
<!-- Container / End -->
</header>


<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="/static/images/recipeBackground-02.jpg" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>Monika Tilapia</h2>
				<div class="rating four-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
				<span><a href="#reviews">(2 reviews)</a></span>
			</div>
		</section>
		

		<!-- Slider -->
		<div class="recipeSlider rsDefault">
		    <img itemprop="image" class="rsImg" src="/static/images/monika_tilapia.jpg" alt="Monika Tilapia Grilled" />
		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>Serves: <strong itemprop="recipeYield">1 people</strong></li>
				<li>Prep Time: <strong itemprop="prepTime">30 min</strong></li>
				<li>Calories: <strong itemprop="calories">96 kcal</strong></li>
			</ul>
			<a href="#" class="print"><i class="fa fa-print"></i> Print</a>
			<div class="clearfix"></div>
		</section>


		<!-- Text -->
		<p itemprop="description">Grilled Tilapia in African Style</p>


		<div class="recipe-container">  

			<div class="ingredients-container">

				<!-- Ingredients -->
				<h3>Ingredients</h3>
				<ul class="ingredients">
					<li>
						<input id="check-1" type="checkbox" name="check" value="check-1">
						<label itemprop="ingredients" for="check-1">white fish (Sea bass red snapper, or tilapia)</label>
					</li>

					<li>
						<input id="check-2" type="checkbox" name="check" value="check-2">
						<label itemprop="ingredients" for="check-2">1-2 lemons</label>
					</li>

					<li>
						<input id="check-3" type="checkbox" name="check" value="check-3">
						<label itemprop="ingredients" for="check-3">Salt and freshly ground black pepper</label>
					</li>

					<li>
						<input id="check-4" type="checkbox" name="check" value="check-4">
						<label itemprop="ingredients" for="check-4">2 teaspoon whole white pepper</label>
					</li>

					<li>
						<input id="check-5" type="checkbox" name="check" value="check-5">
						<label itemprop="ingredients" for="check-5">2 teaspoon whole black pepper</label>
					</li>

					<li>
						<input id="check-6" type="checkbox" name="check" value="check-6">
						<label itemprop="ingredients" for="check-6">1-2 African Nutmeg ehuru</label>
					</li>	

					<li>
						<input id="check-7" type="checkbox" name="check" value="check-7">
						<label itemprop="ingredients" for="check-7">7-10 garlic cloves</label>
					</li>
					<li>
						<input id="check-8" type="checkbox" name="check" value="check-8">
						<label itemprop="ingredients" for="check-8">2 teaspoons anise seeds</label>
					</li>
					<li>
						<input id="check-9" type="checkbox" name="check" value="check-9">
						<label itemprop="ingredients" for="check-9">1/2 inch ginger</label>
					</li>
					<li>
						<input id="check-10" type="checkbox" name="check" value="check-10">
						<label itemprop="ingredients" for="check-10">1 teaspoon paprika</label>
					</li>
					<li>
						<input id="check-11" type="checkbox" name="check" value="check-11">
						<label itemprop="ingredients" for="check-11">2 tablespoon chicken bouillon powder or cubes</label>
					</li>
					<li>
						<input id="check-12" type="checkbox" name="check" value="check-12">
						<label itemprop="ingredients" for="check-12">1 piece 1/2 inch fresh ginger, peeled and thinly sliced</label>
					</li>
					<li>
						<input id="check-13" type="checkbox" name="check" value="check-13">
						<label itemprop="ingredients" for="check-13">1/2 cup coarsely chopped basil parsley</label>
					</li>
					<li>
						<input id="check-14" type="checkbox" name="check" value="check-14">
						<label itemprop="ingredients" for="check-14">1/4 cup onions or 3/4 medium onion</label>
					</li>
				</ul>

			</div> 

			<div class="directions-container">
				<!-- Directions -->
				<h3>Directions</h3>
				<ol class="directions" itemprop="recipeInstructions">
					<li>Make three –four diagonal cuts in each side of the fish, all the way right through the bone.
						Season fish with salt, pepper, and squeeze some lemon over it. Set aside
					</li>
					<li>Using a coffee grinder – grind all the dry spices – anise seeds, African nutmeg, white pepper
						and black pepper. Add to a bowl.
					</li>
					<li>Chop parsley, onion, basil, garlic, ginger, bouillon cubes and place in a food processor or
						blender. Blend/ pulse adding oil/water as needed until the ingredients are finely pureed. Add to
						the bowl of dry spices. Add paprika and more oil if need be . Mix thoroughly until all the
						spices come together
					</li>
					<li>Pour the marinade over the fish, and gently flip them back and forth until coated inside and
						out. Let it marinate in the fridge for up to 24hours
					</li>
					<li>Preheat to high heat.
					</li>
					<li>When you are ready to grill, Wipe down the grill basket with oil towel and them immediately lay
						the fish down in the fish casket. Let them grill for about 1-2 minutes on each side
					</li>
					<li>Reduce to medium high, then cover the grill if you have a gas grill
					</li>
					<li>If you are using a small bbq grill, leave the fish on the open grill or hot charcoal.
					</li>
					<li>
						Baste with fish spice
					</li>
					<li>
						Let the fish cook for a total of 4-5 minutes on each side, you may have to add a minute on two
						depending on the thickness of your fish until cooked – when fish is white and the juices must
						run clear.
					</li>
					<li>
						Check for doneness by making sure the meat closest to the bone is fully cooked – slash with a
						knife to check.
					</li>
					<li>
						Serve with pepper sauce and these grilled plantains.
					</li>
					<li>
						Peel plantains
					</li>
					<li>
						Slice in the middle then cut in halve. Season with salt and brush with spice mix
					</li>
					<li>
						Grill on each side for about 3 minutes until fully cook through – watch carefully because they
						burn easily.
					</li>
				</ol>
			</div>

		</div>
		<div class="clearfix"></div>



		<!-- Share Post -->
		<ul class="share-post">
			<li><a href="#" class="facebook-share">Facebook</a></li>
			<li><a href="#" class="twitter-share">Twitter</a></li>
			<li><a href="#" class="google-plus-share">Google Plus</a></li>
			<li><a href="#" class="pinterest-share">Pinterest</a></li>

			<!-- <li><a href="#add-review" class="rate-recipe">Add Review</a></li> -->
		</ul>
		<div class="clearfix"></div>

		
		<!-- Meta -->
<!--  		<div class="post-meta">
			By <a href="#" itemprop="author">Sandra Fortin</a>, on
			<meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
		</div>  -->


		<div class="margin-bottom-40"></div>


		<!-- Headline -->
 		<h3 class="headline">You may also like</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="related-posts">
		<!-- Recipe #1 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="#">
						<img src="/static/images/recipeThumb-01a.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">Mexican Grilled Corn Recipe</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #2 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="#">
						<img src="/static/images/recipeThumb-07a.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">Roast Chicken With Lemon Gravy</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 20 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #3 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="#">
						<img src="/static/images/recipeThumb-03a.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">Thai Yellow Curry Chicken</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>


		<div class="margin-top-15"></div>


		<!-- Comments
		================================================== -->
		<h3 class="headline">Reviews <span class="comments-amount">(4)</span></h3><span class="line"></span><div class="clearfix"></div>
		
			<!-- Reviews -->
			<section class="comments" id="reviews">

				<ul>
					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
						<div class="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><strong>Kathy Brown</strong><span class="date">12th, October 2014</span>
								<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
							</div>
							<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
							<div class="rating four-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
							</div>
						</div>
					</li>

					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /> </div>
						<div class="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><strong>John Doe</strong><span class="date">15th, October 2014</span>
								<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
							</div>
							<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
							<div class="rating four-stars">
								<div class="star-rating"></div>
								<div class="star-bg"></div>
							</div>
						</div>

					</li>
				 </ul>

			</section>
			<div class="clearfix"></div>
			<br>


		<!-- Add Comment
		================================================== -->

		<h3 class="headline">Add Review</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>
		
		<!-- Add Comment Form -->
		<form id="add-review" class="add-comment">
			<fieldset>

				<div>
					<label>Name:</label>
					<input type="text" value=""/>
				</div>
					
				<div>
					<label>Email: <span>*</span></label>
					<input type="text" value=""/>
				</div>

				<div>
					<label>Rating:</label>
					<span class="rate">
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
					</span>
				</div>
				<div class="clearfix"></div>

				<div>
					<label>Comment: <span>*</span></label>
					<textarea cols="40" rows="3"></textarea>
				</div>

			</fieldset>

			<a href="#" class="button medium color">Add Review</a>
			<div class="clearfix"></div>

		</form>

	</div>
	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="#" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="Search for recipes" value=""/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>


	<!-- Author Box -->
	<div class="widget">
		<div class="author-box">
			<span class="title">Author</span>
			<span class="name">Abdul <br> Smith</span>
			<span class="contact"><a href="mailto:abdul_smith@comeshop.com">abdul_smith@comeshop.com</a></span>
			<!-- Image for Chef Micheal Smmit obtained from: https://www.cookthatbook.com/contact-us/interview-with-chef-michael-smith/ -->
			<img src="/static/images/abdul_smith.jpg" alt="Abdul Smith Image">
			<p>For those not allergic to seafood, one of my favorites is the Grilled Tilapia african style. One of most
			man's delight when doing grilling on the weekends and inviting some friends. Enjoy!!!</p>
		</div>
	</div>


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">Popular Recipes</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
		<!-- Recipe #1 -->
		<a href="#" class="featured-recipe">
			<img src="/static/images/featuredRecipe-01.jpg" alt="">

			<div class="featured-recipe-content">
				<h4>Choclate Cake With Green Tea Cream</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<!-- Recipe #2 -->
		<a href="#" class="featured-recipe">
			<img src="/static/images/featuredRecipe-02.jpg" alt="">

			<div class="featured-recipe-content">
				<h4>Mexican Grilled Corn Recipe</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<!-- Recipe #3 -->
		<a href="#" class="featured-recipe">
			<img src="/static/images/featuredRecipe-03.jpg" alt="">

			<div class="featured-recipe-content">
				<h4>Pollo Borracho With Homemade Tortillas</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<div class="clearfix"></div>
	</div>


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">Share</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
		<ul class="share-buttons">
			<li class="facebook-share">
				<a href="#">
					<span class="counter">1,234</span>
					<span class="counted">Fans</span>
					<span class="action-button">Like</span>
				</a>
			</li>

			<li class="twitter-share">
				<a href="#">
					<span class="counter">863</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="google-plus-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>

</div>


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">

		<div class="five columns">
			<!-- Headline -->
			<h3 class="headline footer">About</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Cras at ultrices erat, sed vulputate eros. Nunc at augue gravida est fermentum vulputate. Pellentesque et ipsum in dui malesuada tempus.</p>
		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Archives</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="#">June 2014</a></li>
				<li><a href="#">July 2014</a></li>
				<li><a href="#">August 2014</a></li>
				<li><a href="#">September 2014</a></li>
				<li><a href="#">November 2014</a></li>
			</ul>

		</div>

		<div class="three columns">

			<!-- Headline -->
			<h3 class="headline footer">Recipes</h3>
			<span class="line"></span>
			<div class="clearfix"></div>

			<ul class="footer-links">
				<li><a href="/pages/browse-recipes.html">Browse Recipes</a></li>
				<li><a href="/pages/recipe-page-1.html">Recipe Page</a></li>
				<li><a href="/pages/submit-recipe.html">Generate Cooking Directions</a></li>
			</ul>

		</div>

		<div class="five columns">

			<!-- Headline -->
			<h3 class="headline footer">Newsletter</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Sign up to receive email updates on new product announcements, gift ideas, sales and more.</p>

			<form action="#" method="get">
				<input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
				<button class="newsletter-btn" type="submit">Subscribe</button>

			</form>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2014 by <a href="#">ComeChop</a>. All Rights Reserved.</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="/static/scripts/jquery-1.11.0.min.js"></script>
<script src="/static/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/scripts/jquery.superfish.js"></script>
<script src="/static/scripts/jquery.royalslider.min.js"></script>
<script src="/static/scripts/responsive-nav.js"></script>
<script src="/static/scripts/hoverIntent.js"></script>
<script src="/static/scripts/isotope.pkgd.min.js"></script>
<script src="/static/scripts/chosen.jquery.min.js"></script>
<script src="/static/scripts/jquery.tooltips.min.js"></script>
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/jquery.pricefilter.js"></script>
<script src="/static/scripts/custom.js"></script>

<!-- Style Switcher
================================================== -->
<script src="/static/scripts/switcher.js"></script>

<div id="style-switcher">
	<h2>Style Switcher <a href="#"></a></h2>
	
	<div>
		<h3>Predefined Colors</h3>
		<ul class="colors" id="color1">
			<li><a href="#" class="green" title="Green"></a></li>
			<li><a href="#" class="blue" title="Blue"></a></li>
			<li><a href="#" class="orange" title="Orange"></a></li>
			<li><a href="#" class="navy" title="Navy"></a></li>
			<li><a href="#" class="yellow" title="Yellow"></a></li>
			<li><a href="#" class="peach" title="Peach"></a></li>
			<li><a href="#" class="beige" title="Beige"></a></li>
			<li><a href="#" class="purple" title="Purple"></a></li>
			<li><a href="#" class="celadon" title="Celadon"></a></li>
			<li><a href="#" class="pink" title="Pink"></a></li>
			<li><a href="#" class="red" title="Red"></a></li>
			<li><a href="#" class="brown" title="Brown"></a></li>
			<li><a href="#" class="cherry" title="Cherry"></a></li>
			<li><a href="#" class="cyan" title="Cyan"></a></li>
			<li><a href="#" class="gray" title="Gray"></a></li>
			<li><a href="#" class="darkcol" title="Dark"></a></li>
		</ul>
		
	</div>
	
	<div id="reset"><a href="#" class="button color">Reset</a></div>
		
</div>


</body>
</html>